* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  font-family: sans-serif;
  text-decoration: none;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.53%;
}
.span_10_of_12 {
  	width: 83.06%;
}

.span_9_of_12 {
  	width: 74.6%;
}

.span_8_of_12 {
  	width: 66.13%;
}

.span_7_of_12 {
  	width: 57.66%;
}

.span_6_of_12 {
  	width: 49.2%;
}

.span_5_of_12 {
  	width: 40.73%;
}

.span_4_of_12 {
  	width: 32.26%;
}

.span_3_of_12 {
  	width: 23.8%;
}

.span_2_of_12 {
  	width: 15.33%;
}

.span_1_of_12 {
  	width: 6.866%;
}
body {
  color: #444444;
}
h1{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin: 1em 1em 1em 1em;
}
h2{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 1em 1em 1em 1em;
}
h3{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin: 1em 1em 1em 1em;
}
body p {
  font-family: Arial, sans-serif;
  font-size: 17px;
  margin: 1em 1em 1em 2em;
}
.banner {
  background-color: #03a3df;
  color: white;
  font-size: 50px;
  width: 100%;
  float: left;
  position: relative;
  padding-left: 2.5em;
}
.navbar {
  list-style: none;
  float: right;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding-left: 7.5em;
  padding-bottom: 0;
}
.navbar li {
  display: inline-block;
  padding: 1em;
  position: relative;
}
.navbar li:after {
  content: "/";
  width: 2px;
  height: 1em;
  position: absolute;
  right: 0;
  top: 1em;
  bottom: 0;
}
.navbar li:last-of-type:after {
  content: none;
}
.Schedule {
  border: solid #ecb722 3px;
}
footer {
  background-image: url("../images/footerImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    clear: both;
    margin-bottom: 0;
    position: relative;
    text-align: left;
    padding: 4em;
    color: white;
  }
}
.navbar-foot {
  list-style: none;
  float: left;
  display: inline-block;
  padding-left: 1em;
  padding-bottom: 0;
}
.navbar-foot li {
  display: inline-block;
  padding: 1em;
  position: relative;
}
.navbar-foot li:after {
  content: "/";
  width: 2px;
  height: 1em;
  position: absolute;
  right: 0;
  top: 1em;
  bottom: 0;
}
.navbar-foot li:last-of-type:after {
  content: none;
}
.foottext{

}
footer p {
  padding-left: 1.5em;
}
footer img {
  padding-left: 4em;
}
